@import './base.css';

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  text-align: center;
  margin: 0px;
}

p {
  margin: 0px;
  padding-top: 10px
}

img {
  width: 100px;
  height: 100px;
}

header {
  padding-top: 20px;
}

.weather-section {
  display: flex;
  align-items: flex-start;
  align-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.weather-section,
.forecast-section {
  margin: 20px auto;
  max-width: 960px;
  padding: 20px;
  /* background-color: #f5f5f5; */
}

.weather-block-info {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 10px;
  height: 100%;
  width: 50%;
}

.weather-img {
  width: 250px;
  height: 250px;
}

.weather-card,
.forecast-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex: 10%;
  text-align: center;
  padding: 20px;
  /* background-color: #fff; */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.weather-card {
  min-height: 190px;
}

.cards-inf {
  display: flex;
  gap: 10px;
}

.forecast-cards {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;
  gap: 10px;
}

.weather-info,
.card-info {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  padding-right: 10px;
}

footer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  align-content: center;
  padding: 10px;
  /* background-color: #f5f5f5; */
}

.flex-center{
  display: flex; 
  flex-wrap: nowrap; 
  align-items: center;
}

.flex-space {
  flex-grow: 1!important;
}

@media (max-width: 640px) {
  img {
    width: 80px;
    height: 80px;
  }

  .weather-section,
  .forecast-section {
    padding: 10px;
  }

  .weather-block-info {
    width: 100%;
  }

  .weather-info {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .forecast-card,
  .weather-card {
    padding: 10px;
    flex: 30%;
  }

  .weather-card {
    min-height: 140px;
  }

  .cards-inf {
    flex-direction: column;
    /* min-height: 240px; */
  }
}

@media (min-width: 641px) and (max-width: 720px) {

  .weather-section,
  .forecast-section {
    max-width: 680px;
    padding: 15px;
  }

  .weather-block-info {
    width: 100%;
  }

  .forecast-card,
  .weather-card {
    padding: 10px;
    flex: 30%;
  }

  .weather-card {
    min-height: 140px;
  }

  img {
    width: 90px;
    height: 90px;
  }
}
@media (min-width: 721px) and (max-width: 906px) {
  .weather-section,
  .forecast-section {
    max-width: 1160px;
    padding: 20px;
  }

  .weather-block-info {
    width: 100%;
  }
  
  .weather-card,
  .forecast-card {
    padding: 20px;
  }

}

@media (min-width: 907px) and (max-width: 1240px) {

  .weather-section,
  .forecast-section {
    max-width: 1160px;
    padding: 20px;
  }

  .weather-card,
  .forecast-card {
    padding: 20px;
  }
}